html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
}
h2 {
  background-color: black
}
header {
    color: darkgrey;
    font-size: 6vmin;
    letter-spacing: 2vmin;
}
#path {
      display: grid;
    grid-template-columns: repeat(9, 9vmin);
    grid-template-rows: repeat(1, 10vmin);
    gap: 1vmin;
    margin-top: 1vmin;
}
#path>div {
      border: 0.1vmin solid grey;
    border-radius: 40%;
}
#start {
  background-color: green;
  border-radius: 60%;
}
#finish {
  background-color: red;
}
timer {
  display: inline-block;
  background-color: white;
  border-radius: 1vmin;
  border:10px black;
  font-size:8vmin;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
  
}
button {
   
    color: grey;
    border: 0.1vmin solid grey;
    border-radius: 2vmin;
    font-size: 4vmin;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
}
.play {
  background: #e6c700;
  color: white;
  align-self:flex-end;
  
}
.control {
  align-self: flex-end;
  color: white;
  background: lightgreen;
}
button:hover {
    color: white;
    background-color: darkgrey;
}
